* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif !important;
}

html,
body {
  height: 100%;
  background-image: url(../imgs/white_wall_hash.png);
  font-size: 16px;
}

h1 {
  margin-top: 15px;
}

h1,
h2 {
  font-weight: bold;
}

h2 {
  margin: 20px 0;
  font-size: 30px;
}

h3 {
  font-size: 18px;
  margin-top: 14px;
}

a:hover {
  text-decoration: none;
}

p {
  line-height: 25px;
}

.navbar,
.navbar-default,
#footer,
.portfolio-banner {
  background: black;
  box-shadow: inset 0px 0px 90px 10px #930d0f;
  box-sizing: border-box;
  height: 85px;
}

.navbar > .container-fluid .navbar-brand {
  margin-left: 30px;
  color: white;
  font-size: 42px;
  letter-spacing: 1.5px;
}

.navbar-default .navbar-nav .header-link {
  color: white;
  margin: 10px 30px 0 0;
  font-size: 18px;
  line-height: 35px;
  font-weight: bold;
}

.navbar-default .navbar-nav > li > .header-link:hover {
  color: white;
  outline: none;
}

.navbar-default .navbar-nav > li > .header-link:visited {
  color: white;
}

.header-link > span:hover {
  border-bottom: 2px solid white;
}

#about-me,
#portfolio {
  border: 2px solid black;
  border-radius: 30px;
  box-shadow: 3px 3px 15px 8px #930d0f;
  padding: 50px;
  margin: 30px auto 50px auto;
}

#about-me img {
  height: 200px;
  border: 3px solid;
  margin: 10px;
  border-radius: 10px;
}

.portfolio-project {
  position: relative;
  width: 200px;
  height: 150px;
  text-align: center;
  margin: 30px 150px;
}

.portfolio-banner {
  position: absolute;
  width: 100%;
  bottom: 10px;
  color: white;
  height: 46px;
}

#footer {
  color: white;
  position: relative;
  height: 60px;
  clear: both;
  padding: 20px;
  text-align: center;
}
