* {
  margin: 0;
  padding: 0;
  border: 0 none;
  position: relative;
  outline: none;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Oswald', sans-serif;
  min-height: 100%;
  width: 100%;
  font-size: 16px;
}

h1 {
  margin-top: 40px;
  transition-duration: 1s;
}

h1,
h2 {
  font-weight: bolder;
}

h2 {
  margin: 20px 0;
  font-size: 36px;
  display: inline;
  letter-spacing: 1.5px;
}

h3 {
  font-size: 22px;
  margin-top: 14px;
}

hr {
  height: 5px;
  background: black;
  border: none;
}

p {
  line-height: 30px;
  font-size: 22px;
}

#homepage-full,
#about-full,
#contact-full {
  height: 100vh;
  position: relative;
  text-align: center;
  font-weight: bold;
  width: 100%;
  min-height: 350px;
  display: block;
}

#homepage-full {
  background: url(../imgs/coding-bg.png) no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#about-full {
  background: black;
}

.homepage-container {
  margin: auto;
  width: 50%;
}

.homepage-content {
  text-align: center;
  padding: 180px 0;
}

.homepage-content h1 {
  font-size: 50px;
  line-height: 70px;
  color: black;
  font-weight: bolder;
}

.scroll-about p {
  font-size: 25px;
  padding-top: 75px;
  font-weight: bold;
}

.scroll-about {
  color: black;
}

.scroll-about:hover {
  cursor: pointer;
  color: #bc1212;
}

.scroll-contact > a:hover:before,
.scroll-projects > a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.fa-address-card,
.fa-github-square,
.fa-linkedin,
.fa-stack-overflow,
.fa-medium,
.fa-envelope,
.fa-desktop {
  padding-top: 15px;
  font-size: 70px;
}

.fa-github-square,
.fa-linkedin,
.fa-stack-overflow,
.fa-medium {
  color: black;
}

.fa-github-square:hover,
.fa-linkedin:hover,
.fa-stack-overflow:hover,
.fa-medium:hover {
  color: #34a58e;
}

#about-me-first-p,
#portfolio-first-row,
#contact-form #form-first-label {
  margin-top: 34px;
}

.container-about,
.container-contact {
  width: 80%;
  margin: auto;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100vh;
}

#about-me,
#contact-form {
  position: relative;
  border-radius: 10px;
  text-align: center;
  border: 6px solid #34a58e;
  padding: 32px;
  margin: 6% auto;
}

#about-me {
  background: white;
}

#about-me p {
  color: black;
  font-size: 20px;
}

#about-me h2 {
  color: #34a58e;
}

.scroll-container,
.social-container {
  margin: 35% 40%;
  width: 100%;
}

.scroll-section {
  color: white;
}

.scroll-contact:hover,
.scroll-projects:hover {
  cursor: pointer;
  color: #34a58e;
}

.scroll-contact,
.scroll-projects,
.social {
  text-align: center;
  padding: 100px 0;
}

.scroll-contact p,
.scroll-projects p {
  font-size: 32px;
  /* color: white; */
  font-weight: bold;
}

#portfolio {
  text-align: center;
  margin: auto;
  width: 100%;
  background: #34a58e;
}

#portfolio .row {
  margin: 5% 0;
}

#portfolio h2 {
  color: black;
  font-size: 60px;
  font-weight: bold;
}

#portfolio h3 {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 5%;
  color: black;
  letter-spacing: 1px;
}

.first-portfolio {
  margin-top: 5%;
}

.portfolio-paragraph {
  color: black;
  padding: 80px 0;
}

.portfolio-img img {
  height: 300px;
  width: 400px;
  border: 5px solid black;
  border-radius: 12px;
}

#contact {
  position: relative;
  background: white;
}

#contact-form {
  margin: 3% auto;
  margin-bottom: 0;
  width: 60%;
  background: black;
  padding: 25px;
}

#contact-form h2 {
  margin-bottom: 20px;
  font-size: 45px;
  color: #34a58e;
  text-align: center;
  display: block;
}

#contact-form label {
  display: block;
  font-size: 24px;
  letter-spacing: 1px;
  color: #34a58e;
}

#contact-form input,
textarea {
  width: 80%;
  padding: 12px 20px;
  margin: 0 auto;
  box-sizing: border-box;
  border: 3px solid #34a58e;
  border-radius: 12px;
  background-color: #f8f8f8;
  font-size: 22px;
  resize: none;
  display: block;
}

#contact-form input {
  height: 60px;
  font-size: 20px;
}

::placeholder {
  color: black;
  opacity: 1;
}

#contact-form #contact-submit-btn {
  background: #34a58e;
  color: black;
  width: 120px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 1px;
  margin: 35px auto 5px auto;
  padding-left: 20px;
  padding-bottom: 45px;
}

#contact-form textarea {
  height: 150px;
}

#contact-form label.form-msg {
  margin-right: 67%;
}

#form-first-label,
.email-label,
.form-msg {
  margin: 2% 72% 2% auto;
}

.social {
  padding: 15% 0;
}

.social p {
  text-align: center;
  padding-bottom: 10%;
  font-size: 40px;
  color: black;
}

.social a {
  text-decoration: none;
}

.fa-github-square,
.fa-linkedin,
.fa-stack-overflow,
.fa-medium {
  font-size: 70px;
  color: black;
}

.footer-container {
  position: relative;
}

#footer {
  position: absolute;
  color: black;
  background: #34a58e;
  height: 40px;
  width: 100%;
  margin-bottom: 0;
  margin-top: 2%;
}

.copyright {
  text-align: center;
  font-size: 20px;
  margin-bottom: 0;
  padding-top: 4px;
}
