* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif !important;
}

html,
body {
  height: 100%;
  background-image: url(../imgs/white_wall_hash.png);
}

h1 {
  margin-top: 15px;
  font-weight: bold;
}

a {
  color: white;
}

a:hover {
  text-decoration: none;
}

.navbar,
.navbar-default {
  background: black;
  box-shadow: inset 0px 0px 90px 10px #930d0f;
  box-sizing: border-box;
  height: 85px;
}

.navbar > .container-fluid .navbar-brand {
  margin-left: 30px;
  color: white;
  font-size: 42px;
  letter-spacing: 1.5px;
}

.navbar-default .navbar-nav .header-link {
  color: white;
  margin: 15px 30px 0 0;
}

.navbar-default .navbar-nav > li > .header-link:hover {
  color: white;
}

.navbar-default .navbar-nav > li > .header-link:visited {
  color: white;
}

.header-link {
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
  outline: none;
}

.header-link:hover {
  color: white;
}

.header-link:visited {
  color: white;
}

.header-link > span:hover,
.header-link > span:focus,
.header-link > span:visited {
  outline: none;
  border-bottom: 2px solid white;
  color: white;
}
